body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.card {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card h2 {
    font-size: 20px;
    margin: 0;
}
.card p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
}
.gencard {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.gencard h2 {
    font-size: 20px;
    margin: 0;
}
.gencard p {
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #3e8e41;
}